/*global*/
body,div,span,p,ul,li,dl,dt,dd,table,tr,td,form,input{margin:0;padding:0}
html,body {-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-user-select:none;background-color:#fff}
html{font-family:sans-serif}
body{height:100%}
ul,li{list-style:none}
table{border-collapse:collapse}
img{border:none}
span{display:inline-block}
a, a:visited{text-decoration:none}
a:active, a:hover{outline:0}
/*layout*/
.wrapper{background-color:#fff}
.container{background-color:#eee}
.header{height:55px;overflow:hidden;background-image:url('../image/logo.gif');background-size:150px 40px;background-repeat:no-repeat;background-position:5px 10px}
.header a{display:inline-block;}
.footer{margin:10px 0 0;padding:10px 0;background-color:#eee;border-top:2px solid #a40000;text-align:center;font-size:13px}
.footer p{line-height:35px;#color:333}
.footer a{margin:0 10px;color:#333}
.left{float:left !important}
.right{float:right !important}
.hide{display:none}
.clear{height:0;clear:both}
/*color*/
.white{color:#fff !important}
.black{color:#000 !important}
.red{color:#ff3f56 !important}
.blue{color:#40b6f3 !important}
.green{color:#04bf17 !important}
.yellow{color:#e4b307 !important}
.orange{color:#ed6100 !important}
.crystal{color:#7fffd4 !important}
.pink{color:#ffc0cb !important}
.gray{color:#b4b4b4 !important}
/*header*/
.logo{width:165px;height:55px;opacity:0;filter:alpha(opacity=0)}
.account{width:55px;height:55px;background-image:url('../image/user.png');background-size:60%;background-repeat:no-repeat;background-position:center}
.status{margin:15px 10px 0 0;font-size:12px;font-weight:bold;color:#a40000}
.status a{padding:3px 6px;border:2px solid #a40000;color:#333}
/*nav*/
.nav{background-color:#a40000}
.nav table{width:100%}
.nav td{padding:2px}
.nav a{display:block;line-height:40px;text-align:center;font-size:18px;font-weight:bold;color:#fff}
.nav a:active{background-color:#bb0000}
/*search*/
.search{background-color:#fff;padding:10px}
.search table{width:100%}
.search .type{width:50px}
.search .type span{display:block;width:45px;height:33px;background-color:#fff;border:1px solid #ccc;text-align:center;line-height:33px;font-weight:bold}
.search .type span:active{background-color:#eee}
.search .keyword{height:35px;background-color:#fff}
.search .keyword input{width:100%;height:100%;border:1px solid #ccc;text-indent:10px}
.search .submit{width:35px;height:35px;background-color:#e1a000;background-image:url('../image/search.png');background-repeat:no-repeat;background-position:center}
.search .submit:active{background-color:#d80}
.search .submit input{width:100%;height:100%;border:0 none;opacity:0;filter:alpha(opacity=0)}
/*mod*/
.mod{margin-top:10px}
.mod .title{background-color:#eee;border-bottom:2px solid #a40000;height:38px;line-height:40px}
.mod .title p{margin-left:10px;font-weight:bold}
.mod .more{float:right;margin-right:10px;color:#000}
.mod .more:active{color:#333}
.mod table{width:100%;border-bottom:1px solid #eee}
.mod table:active{background-color:#eee}
.mod table td{padding-right:5px}
.mod table td:first-child{width:100px}
.mod table img{margin:10px 0 5px 10px;padding:2px;width:80px;height:100px;border:2px solid #a40000}
.mod table b{display:inline-block;height:28px;overflow:hidden;line-height:28px;font-size:18px;font-weight:normal;color:#333}
.mod table p{height:80px;overflow:hidden;line-height:20px;font-size:14px;color:#666}
.mod ul{padding:0 5px}
.mod ul li{padding:0 5px;border-bottom:1px solid #eee}
.mod ul li:active{background-color:#eee}
.mod ul li a{display:block;height:40px;line-height:40px;overflow:hidden;color:#333}
.mod ul li b{font-size:18px;font-weight:normal;color:#0080c0}
.mod ul li span{padding:0 1px;color:#999}
/*info*/
.path{margin:5px 10px;height:20px;background:url('../image/home.png') no-repeat 5px 2px;line-height:20px;font-size:14px;color:#666}
.path a{margin:0 3px;color:#666}
.home{display:inline-block;width:20px;height:16px;overflow:hidden;opacity:0;filter:alpha(opacity=0);}
.info{margin:10px 15px;height:180px;}
.cover img{float:left;width:100px;height:125px;}
.detail{float:left;padding-left:15px}
.detail b{max-width: 170px;display:inline-block;padding-bottom:3px;height:25px;line-height:25px;font-weight:normal;font-size:18px;color:#333}
.detail b a{color:#333}
.detail p{height:20px;line-height:20px;font-size:13px;color:#999}
.detail p a{color:#999}
.detail .serial{background-color:#ed6100}
.detail .finish{background-color:#04bf17}
.button{clear:both;padding-top:10px;}
.button a{display:inline-block;margin:0 3%;width:44%;height:35px;background-color:#4fbbbb;border-radius:2px;line-height:35px;text-align:center;font-size:15px;color:#fff}
.button a:last-child{background-color:#f6b24d}
.intro{margin:5px;padding:0 5px;line-height:18px;font-size:14px;color:#666}
/*box*/
.box{margin:10px}
.box .title{border-bottom:2px solid #eee;height:43px;line-height:45px}
.box .title p{margin-left:10px;color:#333}
.box .more{float:right;margin-right:10px;font-size:15px;color:#666}
.box ul{padding:0}
.box ul li{border-bottom:1px solid #eee;padding:0 10px}
.box ul li:active{background-color:#e5e5e5}
.box ul li a{display:block;height:45px;line-height:45px;overflow:hidden;font-size:15px;color:#666;background-image:url('../image/list.png');background-repeat:no-repeat;background-position:center right}
.box table{width:100%;background-color:#f5f5f5;border:1px solid #ddd;line-height:18px;font-size:15px}
.box table td{padding:0 2px}
.box table a,.box table span{display:inline-block;width:50px;padding:6px 5px;background-color:#fff;border:1px solid #ccc;border-radius:3px;text-align:center;color:#666}
.box table a:active,.box table .active{border-color:#dd5114}
.box table a,.box table b{color:#dd5114}
/*page*/
#prev{text-align:right}
#next{text-align:left}
#select{position:relative;width:125px;height:48px;text-align:center}
#select span{width:90px;padding-right:20px}
#select select{position:absolute;top:8px;left:7px;opacity:0;filter:alpha(opacity=0);width:115px;height:32px}
#select i{position:absolute;top:22px;left:105px;width:0;height:0;border:6px solid transparent;border-top:6px solid #aaa}
/*read*/
.readbg{background:#e4dfd3}
.wrapper{min-width:320px}
.read-top{height:45px;line-height:45px;background:#333;position:relative;text-align:center;color:#f6f6f6;list-style:none;}
.read-top li{display:inline-block;font-size:14px;}
.read-top .title{color:#f6f6f6;}
.catalogue,.rack-btn{background:url('../image/readicon.png') no-repeat;background-size:25px 250px;}
.catalogue,.rack-btn{height:30px;width:55px;line-height:30px;border-radius:2px;border:1px solid #1f1f1f;background-color:rgba(48,48,48,0.97);margin:6px 10px;}
.catalogue:hover,.rack-btn:hover{border:1px solid #4f4f4f;}
.catalogue span,.rack-btn span,.pre span,.next span,.set span,.back span{color:#999;margin-left:18px;height:30px;}
.catalogue{background-position:0px 8px;position:absolute;left:0;top:0}
.rack-btn{background-position:0px -18px;position:absolute;right:0;top:0}
.content{padding:10px;word-wrap:break-word;word-break:break-all}
.articleinfo{clear:both;height:35px;line-height:35px;position:relative;border-bottom:1px solid #c6c1b6}
.toolbar{position:absolute;right:5px;top:-5px}
.toolbar a{float:left;width:32px;height:32px;background:url('../image/articleset-icon.png') no-repeat;margin-left:10px;}
.toolbar a.pattern{background-position:0 -37px}
.toolbar a.aminus{background-position:-37px 0}
.toolbar a.aminus.current{background-position:-37px -37px}
.toolbar a.aadd{background-position:-74px 0}
.toolbar a.aadd.current{background-position:-74px -37px}
.articlebtn{clear:both;height:35px;text-align:center;font-size:0;margin:10px 0;/*padding:10px 0;*/}
.articlebtn a{width:20%;margin:0 6px}
.btn,a.btn{display:inline-block;height:35px;line-height:35px;background:#d2a05f;background-image:-webkit-linear-gradient(top,#d2a05f,#d2a05f);border:none;text-align:center;font-size:1rem;color:#fff}
.mini_footer{clear:both;padding:0 10px;height:40px;background-color:#666;color:#fff;font-size:14px}
.mini_footer a{display:inline-block;height:40px;line-height:40px;color:#fff}
.mini_footer .gotop{text-align:right;font-size:13px}
.font-normal p{font-size:0.8rem;line-height:18px;}
.font-large p{font-size:1.0rem;line-height:22px;}
.font-xlarge p{font-size:1.4rem;line-height:28px;}
.font-xxlarge p{font-size:1.8rem;line-height:36px;}
.font-xxxlarge p{font-size:2.2rem;line-height:44px;}
.nightbg{background:#202020;}
.nightbg,.nightbg a{color:#a0a0a0}
.nightbg .articlebtn a{color:#FFF}
.nightbg .path{background-position:5px -19px}
.nightbg .toolbar .pattern{background-position:0 0;}
/*login*/
.login{position:relative;margin:15px;padding:5px 15px;background-color:#fff;border:1px solid #ccc;border-radius:4px}
.login .title{margin-bottom:15px;height:40px;border-bottom:1px solid #ccc;line-height:40px;color:#333;}
.login .more{float:right;font-size:15px;color:#666}
.login input{display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:10px 0;width:100%;height:40px;border-radius:2px;line-height:20px}
.login input[type="text"],.login input[type="password"]{padding:10px;border:1px solid #a40000}
.login input[type="submit"],.login input[type="button"]{border:0 none;background-color:#d2a15f;text-align:center;font-size:16px;font-weight:bold;color:#fff}
.login img{float:right;position:absolute;bottom:67px;right:17px;width:72px;height:36px;}
/*user*/
.caption{position:fixed;top:0;left:0;z-index:9999;width:100%;height:45px;line-height:45px;background-color:#fff;border-bottom:2px solid #a40000;text-align:center}
.caption a{display:block;float:left;margin:10px;width:45px;height:25px;border:1px solid #a40000;border-radius:2px;line-height:25px;font-size:14px;color:#a40000}
.caption a:first-child{float:right}
.caption a:active{background-color:#eee}
.caption p{height:45px;overflow:hidden;font-size:18px;font-weight:bold;color:#333}
.blank{height:47px;}
#nav{position:fixed;z-index:9999;top:45px;left:0;right:0;height:80px;background-color:rgba(0,0,0,0.7);text-align:center;line-height:40px;}
#nav li{display:inline-block;width:25%;}
#nav li a{display:block;width:100%;height:100%;color:#fff}
#nav i{position:absolute;top:-14px;right:26px;width:0;height:0;border:7px solid transparent;border-bottom:7px solid rgba(0,0,0,0.7)}
.avatar{padding-top:50px;height:150px;text-align:center}
.avatar img{margin:10px;width:100px;height:100px;border-radius:50px;overflow:hidden;}
.avatar p{height:20px;line-height:20px;font-size:18px;color:#333;}
.ulist{margin:15px;background-color:#fff;border:1px solid #ccc;border-radius:5px;overflow:hidden;}
.ulist a{display:block;padding:10px;line-height:25px;border-bottom:1px solid #ccc;color:#333;}
.ulist a:active{background-color:#f4f4f4;}
.logout a{margin:10px;padding:8px;border-radius:5px;background-color:#e74c3c;overflow:hidden;text-align:center;color:#fff;}
.logout a:active{background-color:#c0392b;}
/*avatar*/
#avatar{padding:50px 5px 5px}
@font-face {
	font-family:'iconfont';
	src:url('../font/iconfont.eot');
	src:url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.svg#iconfont') format('svg');
}
span[class^="icon-"]{font-family:'iconfont' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-zoom-small:before{margin-left:15px;content:"\e900";font-size:16px;color:#666;}
.icon-zoom-large:before{position:relative;top:3px;content:"\e900";font-size:24px;color:#666;}
.icon-export-down:before{content:"\e901";color:#666;}
.icon-rotate-cw:before{content:"\f01e";font-size:16px;color:#666;}
.icon-rotate-ccw:before{content:"\f0e2";font-size:16px;color:#666;}
.cropit-preview{margin:25px auto;width:250px;height:250px;}
.cropit-button{margin:0 auto 10px;width:250px;height:25px;}
.cropit-image-input{display:none;}
.cropit-image-zoom-input{-webkit-appearance:none;-moz-appearance:none;appearance:none;position:relative;top:-3px;width:120px;height:5px;background:#eee;border-radius:5px;outline:none;}
.icon-rotate-cw,.icon-rotate-ccw{margin:0 2px;cursor:pointer;}
.icon-rotate-cw:active,.icon-rotate-ccw:active{color:#999;}
/*fix*/
.ad{margin:15px 0}
.adbox{clear:both;display:block;margin:10px 0;}
.toplist{margin:5px;}
.toplist li{display:inline-block;box-sizing:border-box;width:50%;padding:5px;text-align:center;}
.toplist li a{display:block;padding:10px 5px;background-color:#fff;color:#000;border:1px solid #ddd}
.toplist li a:active{background-color:#ddd}
.topname{margin:10px;padding:2px;text-align:center;border:1px solid #ddd}
.topname a.active{position:relative;display:block;padding:10px 5px;background-color:#eee;color:#000;}
.topname a.active select{position:absolute;top:0;left:0;opacity:0;filter:alpha(opacity=0);width:100%;height:100%}
.review {margin:2px;padding:5px;background-color:#f5f5f5;line-height:20px;font-size:15px;color:#666;word-break:break-all}
.review img{width:34px;width:34px;border:1px solid #a40000;}
.review span{display:inline-block;padding:2px;height:32px;line-height:16px;font-size:14px;color:#666;}

.str-over-dot{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;width: 100%;}
.str-over-dot-no100{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}